@use './scss/colors.scss';

@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/700.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: colors.$text;
}

html {
  background: {
    image: url('/assets/bg.webp');
    color: colors.$page-bg;
    size: 100%;
    position: center center;
  }
}